<div ng-controller="RaceController">
  <h2 class="sub-header">{{race.year}} {{race.name}}<br/>
    <small>
      {{race.circuit.name}} - 
      {{race.circuit.location}}, {{race.circuit.country}}
    </small>
  </h2>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Pos</th>
            <th>Driver</th>
            <th>Constructor</th>
            <th>Grid</th>
            <th>Finish</th>
            <th>Pts</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in race.results">
            <td>{{result.positionText}}</td>
            <td>{{result.driver.forename}} {{result.driver.surname}}</td>
            <td>{{result.constructor.name}}</td>
            <td>{{result.grid}}</td>
            <td ng-if="result.time">{{result.time}}</td>
            <td ng-if="!result.time">{{result.status.status}}</td>
            <td>{{result.points}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>